In [7]:
#dictionary
#always in curly bracket{]
my_dict={'key1','value1','key2','value2'}
my_dict

{'key1', 'key2', 'value1', 'value2'}

In [16]:
my_dict={'roll number':123,'marks':[12,23,33],'subject':['computer','science','maths']}

In [18]:
my_dict['subject']

['computer', 'science', 'maths']

In [19]:
my_dict['roll number']

123

In [20]:
my_dict['marks']

[12, 23, 33]

In [21]:
#can call an index on that value
my_dict['subject'][2]

'maths'

In [23]:
#can then even all methods on that value
#it changes the latter on capital letters
my_dict['subject'][0].upper()

'COMPUTER'

In [24]:
#it also changes the letter into the lower case
my_dict['subject'][1].lower()

'science'

In [27]:
#add marks to the first element
my_dict['marks'][0]+=30

In [28]:
my_dict['marks']

[60, 23, 33]

In [29]:
my_dict['marks'][1]=my_dict['marks'][1]+30

In [30]:
my_dict['marks']

[60, 53, 33]

In [31]:
##phython has a built in method of doing a self subtracting or adding or multiplication or division also.
##we could also use +=or-=for the above statement.for example
#another way of adding
my_dict['marks'][2]+=20

In [32]:
my_dict['marks']

[60, 53, 53]

In [34]:
#add new key to the expertise dictonary
my_dict['year']='3rd'

In [35]:
my_dict

{'roll number': 123,
 'marks': [60, 53, 53],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

In [37]:
##update values
my_dict.update({'roll number':100})

In [38]:
my_dict

{'roll number': 100,
 'marks': [60, 53, 53],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

In [42]:
my_dict.update({'subject':['hindi','english']})

In [43]:
my_dict

{'roll number': 100,
 'marks': [60, 53, 53],
 'subject': ['hindi', 'english'],
 'year': '3rd'}

In [54]:
## BRANCHING(IF/ELIF/ELSE)
#phython provides the if to allow branching based on conditions .
#mutiple elif checks can also be performed followed by an option elseclause.
#the if statement can be used with any evaluation of truthiness.
i=13

if i<13:
    print('less than 13')
    
elif i>15:
        print('more than 15')
        
else:
            print('it is something else')

it is something else

In [56]:
i=11

if i<13:
    print('less than 13')
    
elif i>15:
        print('more than 15')
        
else:
            print('it is something else')

less than 13

In [59]:
i=91
j=23
if j>i:
    print('it is working')
else:
    print('it is not greater')

it is not greater

In [63]:
a=530
b=530
print('a')if a>b else print('it is equal'if a==b else print('b'))

it is equal

In [68]:
a=200
b=33
c=500
if a>b and c<a:
    print('both conditions are true')
else:
    print('both conditions are not true')

both conditions are not true

In [69]:
a=200
b=33
c=500
if a>b or c<a:
    print('both conditions are true')
else:
    print('both conditions are not true')

both conditions are true

In [80]:
#find student level
marks=48
if marks>60:
    if marks<70:
        print('distinction')
    else:
        print('first class')
elif marks>50 and marks<=60:
    print('second class')
elif marks>=35:
    print('pass')
else:
    print('fail-better luck next time')

pass

In [85]:
num1=20
num2=30

if num1=="20":
    print('shankar is wrong')
elif num2>25:
    print('i am wrong')

i am wrong

In [87]:
num1=20
num2=30

if num1==20:
    print('shankar is wrong')
elif num2>25:
    print('i am wrong')

shankar is wrong

In [88]:
##in general statement are  executed sequentially.thefirst statement in a function is executed first,followed by the second, and so on.there may be a situation when you need to execute a block of code several number of times.
#programming language provides various control structures that allow for more cmplicated execution paths.
##for loop
#the for loop in phython is used to iterate over a sequence list,tuple,string or other iterable objects.iterating over asequence is called tranversal.
#loop continues until we reace the last item in the sequencee. the body of for loop is seperated from the rest of the code using identation.

In [91]:
location=['bangaluru','noida','chennai','hyderabad','delhi']
print(location)

['bangaluru', 'noida', 'chennai', 'hyderabad', 'delhi']

In [94]:
#list of string
location=['bangaluru','noida','chennai','hyderabad','delhi']
for i in location:
    print(i)

bangaluru
noida
chennai
hyderabad
delhi

In [95]:
salary=[2000,4000,5000,7000,8000,11500,380]
for val in salary:
    if val>5500:
        print(val)

7000
8000
11500

In [1]:
students_score=[35,67,78,79,12,34,67,54,89]

for marks in students_scores:
    if marks>60:
        if marks>70:
            print('distinction')
            else:
                print('first class')
                
    elif marks>50 and marks<=60:
        print('second class')
    elif marks>=35:
        print('pass')
        
    else:
        print('fail')

SyntaxError: invalid syntax (Temp/ipykernel_8660/2078041213.py, line 7)