In [1]:
#with multiple arguments(adding students marks)
def stud_marks(maths,science,english):
    return(maths+science+english)

In [2]:
print('your total marks=',stud_marks(55,65,80))

your total marks= 200

In [3]:
dharmesh_marks=stud_marks(32,30,20)
dharmesh_marks

82

In [4]:
if dharmesh_marks<90:
    print('dharmesh you are just pass')
elif dharmesh_marks>90 and dharmesh_marks<150:
    print('dharmesh you are pass with good marks')
elif dharmesh_marks>151 and dharmesh_marks<250:
    print('dharmesh you are first in class')
else:
    print('dharmesh you are distinction')

dharmesh you are just pass

In [8]:
dharmesh_marks

82

In [16]:
raghav_marks=stud_marks(95,78,80)
raghav_marks

253

In [19]:
if raghav_marks<90:
    print('raghav your total marks are',raghav_marks,'and you are just pass')
elif raghav_marks>90 and raghav_marks<150:
    print('raghavv your total marks are',raghav_marks,'and you are pass')
elif raghav_marks>151 and raghav_marks<250:
    print('raghav your total marks are',raghav_marks,'and you got first class') 
else:
     print('raghav your total marks are',raghav_marks,'and you got distinction')

raghav your total marks are 253 and you got distinction

In [20]:
#similarly you can pass every students marks and find the total and display result
#what happen if we input two strings?
print(stud_marks('maths','science','english'))

mathsscienceenglish

In [21]:
#in phythonn we dont declare variable types,this function could be used to add numbers or sequence together,going forward ,we'll learn about adding in checks to make sure a user puts in the correct arguments into a function.
#now lets see a commplete example of creating a function to check if a number is even then sqaure it else print its not a even number.

In [1]:
def sqre(number):
    for n in range(2,number):
        if n%2 ==0:
            print('squared',n**2)
    else:
        print('it is not an even number',n)

In [2]:
sqre(6)

squared 4
squared 16
it is not an even number 5

In [5]:
#lambda function
lambda arguments:expressions

In [6]:
add_num=lambda y:y+30
print(add_num(50))

80

In [7]:
##multiple arguments
multi_num=lambda a,b:a*b
print(multi_num(15,20))

300

In [8]:
#lambda  is a one time function, we cannot call it again and again in the sheet.

In [9]:
#  *arg takes multiple inputs

In [21]:
def my_func(*args):
    for i in args:
        print('my args:-',i)

In [22]:
my_func('india',56,'bengaluru',30.40,234)

my args:- india
my args:- 56
my args:- bengaluru
my args:- 30.4
my args:- 234

In [28]:
def my_kwargs(**kwargs):
    for key,values in kwargs.items():
        print(key,value)

In [2]:
my_kwargs(students['ram','shivu']),marks[70,75]

NameError: name 'my_kwargs' is not defined

In [32]:
#MAP
#the map()is a function that takes into two arguments:
#1.a function
#2.a sequence iterable
#in the form: map (function,sequence)
#the fisrt argument is the name of a function and the second a sequence (e.g. a list).
#map()applies the function to all the elements of the sequence.it returns a new list with the elements changes by the functions.
#we'll start with two functions:

In [49]:
def total_marks(marks):
    if marks ==30:
        return (marks+5)
    elif marks ==31:
        return (marks+4)
    elif marks ==32:
        return (marks+3)
    elif marks ==33:
        return (marks+2)
    elif marks ==34:
        return (marks+1)
    else:
        return (marks)

In [50]:
score=[45,50,30,60,32,30,32,33,31,35]

In [51]:
total=list(map(total_marks,score))

In [52]:
total

[45, 50, 35, 60, 35, 35, 35, 35, 35, 35]

In [53]:
#COUNT of students who got grace marks
total.count (35)

7

In [54]:
#FILTER
#the function filter (fumction,list)offers a convinent wayto filter out all the elemenst of the iterable ,for which the function returns ''true''.
#the function filter (function(),1)need a function as its first argumensts.the functions needs to boolean value(either true or false).this function will be applied to every elements of the iterable.only if the function returns ''true''will be element of the iterble be included in the result..
#lets see some examples:
#filter lets make a function.

In [68]:
#now lets filter a list of numbers.note that putting the function into filter without any prenthesis might feel strange,but keep in mind that  functions  are object as well.

In [70]:
def even_check(num):
    if num%2==0:
        return True

In [3]:
lst=range(40)
list(filter(even_check,lst))

NameError: name 'even_check' is not defined

In [4]:
#filter()is more commonly used with lambda function,this because we usually we filter for a quick job where we dont want to write an entire funcion.lets repeat the example above using a lambda expression.

In [5]:
list(filter(lambda x:x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [76]:
#who scored less than 35
def total_marks(marks):
    if marks <35:
        return marks

In [78]:
score=[45,50,30,60,32,30,32,33,31,35]

In [8]:
failed=list(filter(total_marks,score))

NameError: name 'total_marks' is not defined

In [9]:
failed

NameError: name 'failed' is not defined