In [36]:
#list of numbers
daily_sales=[100,150,100,200,150,200,300]

#variable to store the sum
income_till_date=0

#iterate over the list
for val in daily_sales:
    income_till_date=income_till_date+val
    print('income_till_date=>',income_till_date)
    
#Toral income
print('the total weekly income is ===>>',income_till_date)

income_till_date=> 100
income_till_date=> 250
income_till_date=> 350
income_till_date=> 550
income_till_date=> 700
income_till_date=> 900
income_till_date=> 1200
the total weekly income is ===>> 1200

In [37]:
#FOR LOOP WITH ELSE
#A for loop can have an optional else block as well.
#the else part is executed if the items inthe sequence used in for loop exhausts.
#break statements can be used to stop a for loop.in such case ,the else part is ignored.
#hence,a for loop's else part runs if no break occurs,here is an example to illustrate this.



digits=[10,20,30]
for val in digits:
    print(val)
else:
    print('no items left')

10
20
30
no items left

In [38]:
#WHILE LOOP
#the while loop in phython is used to iterate over a block of code as long as the test expressions (conditions)is true.
#we generally use this loop when we dont know beforehand, the number of time to iterate.
#in while loop test expressions is checked first.the body og the loop is entered inl if test expressions evaluate to true.
#after one iteration the test expressions is checked again.this process continues until the test expressions evaluate to false.

#in phython the body of the while loop is determined through indentation.
#body starts with indentation and the first unindentated line marks the end .
#phython interprets any non-zero values as true.none and  ae interpreted as false.

n=5
#initialize sum and  counter
sum=0

i=1
while i<=n:
    sum=sum+1
    i=i+1
    print(sum)
    
#print the sum
print('the sum is',sum)

1
2
3
4
5
the sum is 5

In [39]:
#diff b/w for and while loop
#for loop=if you know how many times you want to execute the code, use for loop.
#while loop=if you dont know how many times you want to execute then use the while loop with condition.it mean you will execute the code if the condition is true only

#ENUMERATE
#enumerate () allows us to iterate through a sequence but it keeps track of both the index and the element.

students=['naveen','rathna','vivaan','shridhar','chinntu','chinnnu']

In [40]:
for name in enumerate(students):
    print(name)

(0, 'naveen')
(1, 'rathna')
(2, 'vivaan')
(3, 'shridhar')
(4, 'chinntu')
(5, 'chinnnu')

In [41]:
#you can start index from any number
for i,  name in enumerate(students,1):
    print(i,name)

1 naveen
2 rathna
3 vivaan
4 shridhar
5 chinntu
6 chinnnu

In [42]:
#ZIP
students=['naveen','rathna','vivaan','shridhar','chinntu','chinnnu']
student_marks=[53,74,62,81,55,86]

In [43]:
student_details=list(zip(students,student_marks))
student_details

[('naveen', 53),
 ('rathna', 74),
 ('vivaan', 62),
 ('shridhar', 81),
 ('chinntu', 55),
 ('chinnnu', 86)]

In [49]:
#UNZIP
name,marks=zip(*student_details)

In [50]:
name

('naveen', 'rathna', 'vivaan', 'shridhar', 'chinntu', 'chinnnu')

In [51]:
roll_number

(53, 74, 62, 81, 55, 86)

In [52]:
marks

(53, 74, 62, 81, 55, 86)

In [53]:
roll_number

(53, 74, 62, 81, 55, 86)

In [54]:
marks

(53, 74, 62, 81, 55, 86)

In [59]:
#ENUMERATE ANND ZIP
students_name=['naveen','rathna','vivaan','shridhar','chinntu','chinnnu']
student_marks=[53,74,62,81,55,86]

In [62]:
for i,(name,marks)in enumerate (zip(students_name,student_marks),1):
    print(i,name,marks)

1 naveen 53
2 rathna 74
3 vivaan 62
4 shridhar 81
5 chinntu 55
6 chinnnu 86

In [1]:
#BREAK AND CONTINUE STATEMENT
#in phython ,break and continue statement can alter the flow of a normal loop.
#loops iterate over a block of code until test expressions is false,but sometimes we wwish to terminate the current iteration or even the whole loop without checking test expressions.
#the break and coontinue statements are used in these cases.

#BREAK
#the break statement terminates the loop containing it. control of the program flows to the statement immediately after the body of the loop.
#if break statement is inside a nested loop(loop inside another loop),break will terminate the innermost loop.
#use of break statement inside loop.

In [7]:
city=['bengaluru','delhi','noida','hyderabad','mumbai']
for val in city:
    if val =='hyderabad':
        break
    print (val)

bengaluru
delhi
noida

In [11]:
#as soon as condition satisfy loop will break and it will not check next element.
salary=[2000,3800,4000,4500,5000,7000,8000]

for val in salary:
    if val>4600:
        break
    print(val)

2000
3800
4000
4500

In [12]:
#CONTINUE
#the continue statement is used to skip the rest of the codes inside a loop for the current iteration only.
#loop does not terminate but continue on with the next iteration.

In [13]:
#program to show the use of continue statement inside loops
city=['bengaluru','delhi','noida','hyderabad','mumbai']


for val in city:
    if val =='hyderabad':
        continue
    print(val)

bengaluru
delhi
noida
mumbai

In [15]:
salary=[2000,3800,4000,4500,5000,7000,8000]

for val in salary:
    if val>5500:
        continue
    print(val)
print('the end')

2000
3800
4000
4500
5000
the end

In [16]:
#the range ()function
#we can generate a sequence of numbers using range ()function.rnge (10)will generate numbers from 0 to 9 (10 numbers).
#we can also define the start, stop and step size as range(start,stop,step,size).step size defaults to 1 if not provided.
#the function does not store all the values in memory,it would be innefficient.so it remembers the start,stop,step_size and generates the next number on the go.
#to force this fumction to output all the item we can use the function list().
#the following example will clarify this.
#last number always excluded $ starting number is included.

In [17]:
print(range(10))

range(0, 10)

In [18]:
print (list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
roll_number=list(range(1,8))

In [20]:
roll_number

[1, 2, 3, 4, 5, 6, 7]

In [21]:
step_size=list(range(0,31,5))

In [22]:
step_size

[0, 5, 10, 15, 20, 25, 30]

In [23]:
step_size=list(range(0,31,3))

In [24]:
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [25]:
incr_by_hund=list(range(100,1600,100))

In [26]:
incr_by_hund

[100,
 200,
 300,
 400,
 500,
 600,
 700,
 800,
 900,
 1000,
 1100,
 1200,
 1300,
 1400,
 1500]

In [28]:
reverse=list(range(1600,100,-100))

In [29]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]

In [30]:
reverse=list(range(1600,100,-100))

In [31]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]

In [32]:
#STRING INDEXING
#we knoe=w strings are a sequence which means phython can use indexs to call all the sequences parts .lets learn how string indexing works.we use brackets []after an object to call its index.we should also note that indexing starts at 0 for phython.
#now lets create a new pbject called s and the walk through a few examples of indexing.

In [35]:
#assingn s as a string
s='hello world'

In [36]:
s

'hello world'

In [39]:
#print the object
print(s)

hello world

In [40]:
#lets start indexing
#show first element (in this case a letter)
s[0]

'h'

In [41]:
s[1]

'e'

In [42]:
s[5]

' '

In [44]:
#we can use a :to perform sliciing which grabs everything up to a designated point.for example
s[1:]

'ello world'

In [46]:
s[:]

'hello world'

In [48]:
s[:3]

'hel'

In [49]:
s[3:8]

'lo wo'

In [50]:
s[:-1]

'hello worl'

In [51]:
s[-1]

'd'

In [52]:
#index and slice notation is used to grab elements of a sequence by a specified step size (where in 1 is the defaukt size)for instance we can use two colons in a row and then a number specifying the frequencey to grab elememnts .for example
#grab everything,but go in step size of 1
s[::1]

'hello world'

In [54]:
s[::2]

'hlowrd'

In [55]:
s[:5:-2]

'drw'

In [56]:
s[::-5]

'd h'

In [58]:
#FUNCTIONS
#introducing a functions.
#what is a funcion in phython and how to create a function?
#function is one of our main building blocks when we construct larger and larger amount of code to solve problems.
#so what is a function?
#a function groupp a set of statements together to run the statements more than once.it allows us to spacify parameters that can srve as inputs to the functions.

In [59]:
#functions allow us to reuse the code instead of writing the code again and again.if you recall strings and list remember that len()function is used to find the length of string.
#since checkig the length of a sequence is a common tast, you would want to write a function that can do this  repeadtedly at command.

#function is one of the most basuc leel of reusing code iin phyton ,and it will also allow us to start thinking of program design.

In [60]:
#def statement.
#now let us learn how to build a function and what is the syntax in phythons.
#the syntax for def statements wil be in the following from:

#def name of function (arg1,arg2)

#this is where the  function's document 
#string(doc-string)goes.

In [61]:
def say_hello():
    print('this is just a sample')

In [62]:
say_hello()

this is just a sample

In [65]:
def greeting(name):
    print('hello',name)
    print('hello %s' %name)

In [66]:
greeting('dear_students')

hello dear_students
hello dear_students

In [67]:
#salary update example
def salary_incr(salary):
    
    if salary <=9000:
        return(salary+1000)
    else:
        return salary

In [69]:
print('your new salary=',salary_incr(8500))

your new salary= 9500